* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: transparent;
}

.plate {
    margin: 50px auto 10px;
    width: 336px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 10px;
}

.head {
    background-color: rgb(245, 211, 20);
    height: 28px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 28px 19px;
}

.sort {
    display: flex;
    justify-content: end;
    padding-top: 12px;
    width: 100%;
}

.button_sort_down {
    background-image: url(../img/List_Down_Gray.svg);
    height: 14px;
    width: 24px;
    border: none
}

.button_sort_down:hover {
    background-image: url(../img/List_Down_Black.svg);
}

.button_sort_up {
    background-image: url(../img/List_Up_Gray.svg);
    height: 14px;
    width: 24px;
    border: none
}

.button_sort_up:hover {
    background-image: url(../img/List_Up_Black.svg);
}

.list_itself {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
    padding: 10px 26px;
}

.new_row {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_row:not(:first-child) {
    margin-top: 10px;
}

input {
    border: none;
}

.delete_button {
    background-image: url(../img/X_gray.svg);
    border: none;
    width: 20px;
    height: 20px;
}

.delete_button:hover {
    background-image: url(../img/X_purple.svg);
}

.add_button {
    margin-top: 18px;
    width: 150px;
    height: 42px;
    border: none;
}

.add_btn {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: rgb(240, 240, 240);
    background-color: rgb(128, 39, 212);
    border-radius: 24px;
    height: 44px;
}

.add_btn_text {
    font-size: 20px;
    width: 130px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: color 450ms;
}

.add_btn_plus {
    font-size: 16px;
    color: rgb(240, 240, 240);
    background-color: rgb(165, 70, 255);
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 500;
    transition: transform 1s, color 1s, font-size 1s;
}

.add_btn:hover .add_btn_plus {
    transform: translateX(50px) rotate(180deg);
    color: rgb(255, 196, 0);
    font-size: 30px;
}

.add_btn:hover .add_btn_text {
    color:rgb(128, 39, 212)
}

